/* Main Level */
.tree ul{
  margin-left:26px;
}
/* Second Level */
.tree ul ul{
  margin-left:60px;
}
/* Third Level */
.tree ul ul ul{
  margin-left:60px;
}


.tree {
  min-height: 20px  !important;
  padding: 19px  !important;
  margin-bottom: 20px  !important;
  background-color: #fbfbfb  !important;
  border: 1px solid #999  !important;
  -webkit-border-radius: 4px  !important;
  -moz-border-radius: 4px  !important;
  border-radius: 4px  !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)  !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)  !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)  !important;
}

.XOTask {
    content:url(/icons/1.png);
}

.XOMethod {
    content:url(/icons/1.png);
}

.XOTask {
    content:url(/icons/1.png);
}

.tree li {
  list-style-type: none   !important;
  margin: 0  !important;
  padding: 10px 5px 0 5px  !important;
  position: relative  !important;
}

.tree li::before,
.tree li::after {
  content: ''  !important;
  left: -20px  !important;
  position: absolute  !important;
  right: auto  !important;
}

.tree li::before {
  border-left: 4px solid #999  !important;
  bottom: 50px  !important;
  height: 100%  !important;
  top: 0  !important;
  width: 1px  !important;
}

.tree li::after {
  border-top: 4px solid #999  !important;
  height: 20px  !important;
  top: 25px  !important;
  width: 25px  !important;
}

.tree li span {
  -moz-border-radius: 5px  !important;
  -webkit-border-radius: 5px  !important;
  border: 6px solid #999  !important;
  border-radius: 8px  !important;
  display: inline-block  !important;
  padding: 22px 22px  !important;
  text-decoration: none  !important;
}

.tree li.parent_li>span {
  cursor: pointer  !important;
}

.tree>ul>li::before,
.tree>ul>li::after {
  border: 0  !important;
}

.tree li:last-child::before {
  height: 30px  !important;
}

.tree li.parent_li>span:hover,
.tree li.parent_li>span:hover+ul li span {
  background: #eee  !important;
  border: 6px solid #94a0b4  !important;
  color: #000  !important;
}
